.measurements__input_type_error {
  border: calc(100vw / (1000 / 2)) solid #FF0000;
}


@media screen and (min-width: 1017px){
  .measurements__input_type_error {
    border: 2px solid #FF0000;
  }
}

@media screen and (max-width: 320px){
  .measurements__input_type_error {
    border: calc(320px / (1000 / 2)) solid #FF0000;
  }
}
