.measurements__input {
  width: calc(100vw / (1000 / 332));
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: calc(100vw / (1000 / 20));
  line-height: 1.2;
  border-radius: calc(100vw / (1000 / 5));
  border: calc(100vw / (1000 / 2)) solid rgba(0, 0, 0, 0.2);
}

.measurements__input:focus {
  outline: none;
}

.measurements__input:active {
  outline: none;
}

@media screen and (min-width: 1017px){
  .measurements__input {
    width: 332px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 320px){
  .measurements__input {
    width: calc(320px / (1000 / 332));
    font-size: calc(320px / (1000 / 20));
    border-radius: calc(320px / (1000 / 5));
    border: calc(320px / (1000 / 5)) solid rgba(0, 0, 0, 0.2);
  }
}
